asn1crypto==0.24.0
certifi==2021.10.8
chardet==4.0.0
cryptography==2.1.4
docopt==0.6.2
enum34==1.1.6
idna==2.10
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
numpy==1.16.6
pipreqs==0.4.11
pycrypto==2.6.1
pygobject==3.27.1
pyxdg==0.25
requests==2.27.1
SecretStorage==2.3.1
six==1.11.0
urllib3==1.26.12
yarg==0.1.9
